
/* Button */
.buttonWrapper {
    display: inline-block;
  }
  
  .button {
    background: #344563;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding-top: 5px;
    vertical-align: bottom;
    height: 34px;
    width: 36px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button svg {
    fill: #fff
  }
  
  .button:hover, .button:focus {
    background: #344563;
    outline: 0;
  }
  
  .active {
    color: #4C9AFF;
    background: #344563;
  }
  
  .active svg {
    fill: #4C9AFF;
  }
  