
.figure {
  margin: 14px 80px 14px 80px;
}
@media only screen and (max-width: 900px) {
  .figure {
    margin: 14px 0 14px 0;
  }
}


.iframeContainer {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
}

.iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

.invalidVideoSrc {
  text-align: center;
  background-color: #eaeaea;
  padding: 1em;
}
